* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(100, 98, 98);
  height: 5rem;
  width: 100%;
  display: flex;
  font-family: sans-serif;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  /* padding: 3rem; */
}
.nav {
  display: flex;
  padding-right: 1rem;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
}
.navlink {
  text-decoration: none;
  /* color: black; */
}
.isActive {
  color: rgb(233, 153, 6);
}
.notActive {
  color: black;
}
